.justify-content-center {
    gap: 5rem;
  }

.navbar-brand{
    padding-left: 1%; 
}

.nav-center{
    justify-content: center;
}

.pad-icons{
  margin-right: 1rem;
}

@media screen and (max-width: 600px) {
  .row {
    flex-direction: row;
  }
  .smscreen {
    max-width: 30%;
  }
  .phoneicon {
    padding: 2% 2% !important;
    max-width: 0.6em;
    max-height: 0.6em
  }
  .phoneicon2 {
    max-width: 4em;
    max-height: 4em
  }
}