@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@500&display=swap');
@import url('https://db.onlinewebfonts.com/c/be9a43357e0fe07642191e4b32995385?family=Avenir+Next+LT+W02+Regular');

:root{
  --black: #2C3531;
  --green: #116466;
  --brown: #D9B08C;
  --lightBrown: #FFCB9A;
  --lightBlue: #D1E8E2;
  --pink: #D65472;
}

.card-wrapper {
  display: flex;
  width: auto;
  height: 60vh;
  justify-content: center;
  align-items: center;
}

.general-link-no-dec{
  text-decoration: none;
  color: black;
  &:hover{
    text-decoration: underline;
  }
}

.center-wave {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, var(--green), #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.passive-active-column{

  background-color: white;
  &:hover{
    background-color: #e5e6e7;
  }
}

.room-details-pics-listing{
  transition: background-color 0.5s ease;
  border-radius: 20%;
  &:hover{
    transition: background-color 0.5s ease;
    background-color: rgb(221, 215, 215);
    border-radius: 20%;
  }
  
}


.header-text-info{
  font-family:"Saira Extra Condensed";
  font-weight: bold;
  font-size: 4rem;
}

.information-text{
  font-family:"Avenir Next LT W02 Regular";
  font-weight: bold;
  color: #f1f1f1;
    text-shadow: 1px 1px black;
}

.team-jersey-list-number{
  font-family:"Saira Extra Condensed";
  color:white;
  text-decoration: none;
}

aside#sidebar .team-btw-match ul li.vs span {
	background: transparent !important;
	display: flex;
	height: 100%;
	min-height: 50px;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.zoom-in-style:hover{
  transform: scale(1.5);
  transition: 0.3s;
  border: 2px white;
  background-color: white;
  color: black;
}

.link-over-to-left {
  color: white;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.link-over-to-left::before,
.link-over-to-left::after {
 content: '';
  position: absolute;
  width: 100%;
  left: 0;
}
.link-over-to-left::before {
  background-color: black;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s ;
}
.link-over-to-left::after {
  content: attr(data-replace);
  font-size: 25px;
  font-weight: bold;
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .3s ;
  background-color: rgba(255,255,255,.30);
  color: black;
}

.link-over-to-left:hover::before {
  transform-origin: 0% 100%;
  transform: scaleX(1);
}
.link-over-to-left:hover::after {
  transform: translate3d(0, 0, 0);
}

.link-over-to-left span {
  display: inline-block;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.link-over-to-left:hover span {
  transform: translate3d(-200%, 0, 0);
}

.center-header {
  text-align: center;
  font-weight: bolder;
  padding-bottom: 2%;
  margin-top: 2%;
}

.team-list-container
{
  background-color: rgba(0,0,0,0.50);

&:hover{
  background-color: rgba(0,0,0,0.20)
}
}
.player-list-container
{
  background-color: rgba(37,38,46,1);

&:hover{
  background-color: rgba(37,38,46,0.8);
}
}
.player-list-names {
  	transition: color .3s ease-in-out;
	  color: var(--pink);
    text-decoration: none;
    font-size: 1.5rem;
    font-family:"Saira Extra Condensed";
    
    


  	
	&:hover {
    color: black;
  	}
}


.denemerow12 {
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns */
.denemecolumn12 {
  flex: 25%;
  padding: 20px;
}

.search-list {
  position: relative;
}

.search-list ul {
  position: relative;
}
.search-list ul li {
  position: relative;
  left: 0;
  color: #fce4ec;
  list-style: none;
  margin: 4px 0;
  transition: 0.5s;
  cursor: pointer;
}
.search-list ul li:hover {
  left: 10px;
}
.search-list ul li span {
  position: relative;
  padding: 8px;
  padding-left: 12px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
}
.search-list a{
  text-decoration: none;
  color: black;

  &:hover{
    color: var(--green);
  }
}
.search-list ul li:hover span {
  color: #111;
}
.search-list ul li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #D1E8E2;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}
.search-list ul li:hover:before {
  transform: scaleX(1);
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.9); /* Dark background */
}

/* Enlarged image style */
.modal-content {
  margin: auto;
  display: block;
  max-width: 80rem;
  max-height: 80rem;
}

#caption {
  display: block;
  width: 100%;
  margin: auto;
  max-width: 80rem;
  text-align: center;
  color: #ccc;
  background-color: rgba(0,0,0,0.9);
  height: 50px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* Close button styling */
.close {
  position: absolute;
  top: 15px; right: 35px;
  color: white;
  font-size: 40px;
  cursor: pointer;
}
/* Next & previous buttons */
#prev, #next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(17, 15, 15);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
#prev:hover, #next:hover {
  background-color: rgba(0,0,0,0.8);
}

.pos-abs {
  position: absolute;
}

.outlined-text {
  -webkit-text-stroke: 0.1rem rgb(0, 0, 0); /* width color */
  color:  rgb(255, 255, 255);                 /* inner fill color */
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .column {
    flex: 50%;
  }
  .modal-content {
    max-width: 30rem;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
  .modal-content {
    max-width: 20rem;
  }
}


body {
  overflow-y: scroll; /* Show scrollbars */
}

.App {
  position: relative;
  margin: 0;
  padding-bottom: 11rem;
  min-height: 100vh;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.center-text {
  align-self: center;
}

.search-btn {
  border-radius: 0px 30px 30px 0px;
  cursor: pointer;
}

.nav-links {
  font-size: 15px;
  text-decoration: none;
  color: white;
}

.navbar-underline-animation {
  display: inline-block;
  position: relative;
  color: #00ad43;
}

.navbar-underline-animation:after {
  content: "";
  color: white;
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #00ad43;
  transform-origin: bottom middle;
  transition: transform 0.4s ease-out;
}

.navbar-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom middle;
}


/* Search and Sign in buttons effects */
.trialbtn {
  cursor: pointer !important;
  position: relative !important;
  padding: 0.5rem 0.5rem !important;
  background: #6885a1 !important;
  color: white !important;
  font-size: 1rem !important;
  border-top-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  transition: all 500ms !important;
  &:after,
  &:before {
    content: " ";
    width: 1rem !important;
    height: 1rem !important;
    position: absolute !important;
    border: 0px solid #fff !important;
    transition: all 500ms !important;
  }
  &:after {
    top: -0.1rem !important;
    left: -0.1rem !important;
    border-top: 0.1rem solid white !important;
    border-left: 0.1rem solid white !important;
  }
  &:before {
    bottom: -0.1rem !important;
    right: -0.1rem !important;
    border-bottom: 0.1rem solid white !important;
    border-right: 0.1rem solid white !important;
  }
  &:hover {
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    background: #bcd2da !important;
    color: black !important;
    &:before,
    &:after {
      width: 100% !important;
      height: 100% !important;
      /* border-color:white; */
    }


    /*.trialbtn {
      cursor: pointer;
      position: relative;
      padding: 10px 20px;
      background: #6885a1;
      color: white;
      font-size: 14px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      transition: all 500ms;
      &:after,
      &:before {
        content: " ";
        width: 0px;
        height: 0px;
        position: absolute;
        border: 0px solid #fff;
        transition: all 500ms;
      }
      &:after {
        top: -1px;
        left: -1px;
        border-top: 1px solid white;
        border-left: 1px solid white;
      }
      &:before {
        bottom: -1px;
        right: -1px;
        border-bottom: 1px solid white;
        border-right: 1px solid white;
      }
      &:hover {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        background: #bcd2da;
        color: black;
        &:before,
        &:after {
          width: 100%;
          height: 100%;

          border-color: white;
        }
      }
    }*/
  }
}


/* Notification page */

.icon-button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  display: inline;
  border-radius: 50%;
  transition: background-color 0.3s, box-shadow 0.3s; /* Add box-shadow to the transition */
}

.icon-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  font-size: 16px;
  border: none;
  background-color: transparent;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 50%;
  margin: 0 5px;
}

.pagination-button:hover {
  background-color: #f1f1f1;
}

.pagination-button.active {
  background-color: #007bff;
  color: #fff;
}

.pagination-button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.section-50 {
  padding: 50px 0;
}

.m-b-50 {
  margin-bottom: 50px;
  text-align: center;
}
.notification-list_img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.notification-checkbox {
  width: 15px; 
  height: 15px; 
}


.notification-list.selected {
  background-color: #f2f2f2;
}

.dark-link {
  color: #333;
}

.heading-line {
  position: relative;
  padding-bottom: 5px;
}

.heading-line:after {
  content: "";
  height: 4px;
  width: 75px;
  background-color: #29B6F6;
  position: absolute;
  bottom: 0;
  left: 0;
}

.notification-ui_dd-content {
  margin-bottom: 30px;
}

.notification-list {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 20px;
  margin-bottom: 7px;
  background: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
  transition: background-color 0.3s ease;
  display: flex; /* Added display flex */
  align-items: center; /* Added alignment to center content vertically */
}

.notification-list:hover {
  background-color: #f2f2f2;
}

.notification-list--unread {
  border-left: 2px solid #29B6F6;
}

.notification-list .notification-list_content {
  display: flex;
  flex: 1; /* Take the remaining width */
}


.notification-list .notification-list_content .notification-list_img img {
  height: 48px;
  width: 48px;
  border-radius: 50px;
  margin-right: 20px;
}


.notification-list .notification-list_feature-img {
  flex: 1; /* Take the remaining width */
  text-align: right; /* Align the image to the right */
}

.notification-list .notification-list_feature-img img {
  height: 48px;
  width: 48px;
  border-radius: 5px;
  /* Removed margin-left */
}


.disabled {
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
}

.approval-button.disabled {
  background-color: #cccccc;
}
.decline-button.disabled {
  background-color: #cccccc;
}

.notification-list_detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}
.text-muted {
  padding-left: 60px;
  margin-top: 10px;
}

.notification-list_content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.notification-date {
  margin-left: auto;
  text-align: right;
}
/* Add styles for the approval and decline buttons */
.approval-button,
.decline-button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.approval-button {
  background-color: #2ecc71;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  margin-right: 8px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
}

/* Style for decline button */
.decline-button {
  background-color: #e74c3c;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
}
.approve-button.disabled {
  background-color: #cccccc;
}
.decline-button.disabled {
  background-color: #cccccc;
}

.approval-button span,
.decline-button span {
  display: inline-block;
  width: 100%; 
  text-align: center;
}

/* Change background color on hover */
.approval-button:hover {
  background-color: darkgreen; 
}

.decline-button:hover {
  background-color: darkred;
}


/* Add this to your CSS */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  
}

.loading-spinner {
  position: relative;
  width: 60px; 
  height: 60px;
}

.loading-spinner::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  border: 4px solid rgba(255, 255, 255, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.loading-spinner::after {
  position: absolute;
  top: calc(50% + 10px); /* Adjust position as needed */
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}



/* Match details css */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animation-stats {
  animation: fade-in 1.5s ease-out forwards;
  /* Add your existing styles here */
}

@media (max-width: 1300px) {
  .team-names {
    font-size: 35px; /* Adjust the font size as per your preference */
  }
}

@media (max-width: 1100px) {
  .team-names {
    font-size: 30px; /* Adjust the font size as per your preference */
  }
}

@media (max-width: 950px) {
  .team-names {
    font-size: 25px; /* Adjust the font size as per your preference */
  }
}

@media (max-width: 790px) {
  .team-names {
    font-size: 20px; /* Adjust the font size as per your preference */
  }
}

@media (max-width: 650px) {
  .team-names {
    font-size: 18px; /* Adjust the font size as per your preference */
  }
}

/* Hide the buttons for screen width larger than 900px */
@media (min-width: 1100px) {
  .team-buttons {
    display: none;
  }
}

/* Center the buttons for screen width less than 900px */
@media (max-width: 1099px) {
  .team-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
}

.team-names {
  display: flex;
  align-items: center;
}